rqt-dep==0.4.14
rqt-topic==0.4.15
actionlib==1.14.3
rqt-robot-monitor==0.5.15
message-filters==1.17.3
rosservice==1.17.3
rosboost-cfg==1.15.10
rqt-py-console==0.4.12
rviz==1.14.26
rqt-reconfigure==0.5.7
smach-ros==2.5.3
diagnostic-analysis==1.12.1
rqt-graph==0.4.16
laser-geometry==1.6.8
rqt-tf-tree==0.6.5
rostest==1.17.3
xacro==1.14.20
rosmsg==1.17.3
bondpy==1.8.7
rqt-web==0.4.11
rqt-pose-view==0.5.13
angles==1.9.14
smclib==1.8.7
rqt-top==0.4.11
python-qt-binding==0.4.6
rqt-gui==0.5.5
catkin==0.8.12
rqt-srv==0.4.11
rosnode==1.17.3
rqt-nav-view==0.5.8
rqt-msg==0.4.12
rqt-bag-plugins==0.5.3
rosmake==1.15.10
rqt-robot-steering==0.5.14
qt-dotgraph==0.4.5
rqt-logger-level==0.4.13
gazebo_plugins==2.9.3
controller-manager==0.20.0
camera-calibration==1.17.0
image-geometry==1.16.2
tf-conversions==1.13.4
tf2-py==0.7.10
rospy==1.17.3
tf==1.13.4
roswtf==1.17.3
resource-retriever==1.12.10
gencpp==0.7.2
joint-state-publisher==1.15.2
rqt-py-common==0.5.5
rqt-launch==0.4.10
tf2-ros==0.7.10
rqt-console==0.4.14
smach==2.5.3
gennodejs==2.0.2
rosclean==1.15.10
rqt-action==0.4.11
roslib==1.15.10
topic-tools==1.17.3
tf2-kdl==0.7.10
sensor-msgs==1.13.2
geneus==3.0.0
interactive-markers==1.12.2
rosbag==1.17.3
cv-bridge==1.16.2
controller-manager-msgs==0.20.0
rqt-gui-py==0.5.5
qt-gui-py-common==0.4.5
rqt-bag==0.5.3
rqt-plot==0.4.16
rosgraph==1.17.3
qt-gui-cpp==0.4.5
rqt-moveit==0.5.13
roscreate==1.15.10
genmsg==0.6.1
genpy==0.6.18
qt-gui==0.4.5
rqt-rviz==0.7.2
rqt-robot-dashboard==0.5.8
rqt-shell==0.4.13
rqt-publisher==0.4.12
rosunit==1.15.10
rostopic==1.17.3
tf2-geometry-msgs==0.7.10
rosparam==1.17.3
diagnostic-updater==1.12.1
roslint==0.12.0
gazebo_ros==2.9.3
diagnostic-common-diagnostics==1.12.1
joint-state-publisher-gui==1.15.2
rqt-runtime-monitor==0.5.10
roslaunch==1.17.3
rqt-service-caller==0.4.12
camera-calibration-parsers==1.12.1
rosmaster==1.17.3
dynamic-reconfigure==1.7.5
rqt-image-view==0.4.19
roslz4==1.17.3
genlisp==0.4.18
nvidia-nccl-cu12==2.26.2
filelock==3.18.0
wheel==0.45.1
protobuf==6.31.1
MarkupSafe==3.0.2
nvidia-cufft-cu12==11.3.0.4
GitPython==3.1.44
nvidia-curand-cu12==10.3.7.77
Robotic-Arm==1.0.6
click==8.2.1
nvidia-cuda-nvrtc-cu12==12.6.77
six==1.17.0
pydantic_core==2.33.2
nvidia-cuda-cupti-cu12==12.6.80
Jinja2==3.1.6
executing==2.2.0
charset-normalizer==3.4.2
pure_eval==0.2.3
mujoco==2.3.7
diffusers==0.33.1
contourpy==1.3.2
psutil==7.0.0
cycler==0.12.1
grpcio==1.73.0
typing_extensions==4.14.0
wandb==0.20.1
nvidia-nvtx-cu12==12.6.77
nvidia-nvjitlink-cu12==12.6.85
lxml==5.4.0
typing-inspection==0.4.1
decorator==5.2.1
kiwisolver==1.4.8
python-dateutil==2.9.0.post0
h5py==3.14.0
matplotlib-inline==0.1.7
idna==3.10
glfw==2.9.0
pip==25.1
labmaze==1.0.6
catkin-pkg==1.0.0
tensorboard-data-server==0.7.2
triton==3.3.1
smmap==5.0.2
exceptiongroup==1.3.0
Markdown==3.8.1
dm-tree==0.1.9
scipy==1.15.3
platformdirs==4.3.8
huggingface-hub==0.33.0
jedi==0.19.2
until==0.1.2
matplotlib==3.10.3
sentry-sdk==2.30.0
stack-data==0.6.3
setuptools==78.1.1
traitlets==5.14.3
prompt_toolkit==3.0.51
networkx==3.4.2
fsspec==2025.5.1
dm-control==1.0.14
fonttools==4.58.4
ptyprocess==0.7.0
absl-py==2.3.0
importlib_metadata==8.7.0
certifi==2025.6.15
urllib3==2.5.0
pandas==2.3.0
pyquaternion==0.9.9
safetensors==0.5.3
rospkg==1.6.0
regex==2024.11.6
parso==0.8.4
torchvision==0.22.1
nvidia-cublas-cu12==12.6.4.1
wcwidth==0.2.13
setproctitle==1.3.6
Werkzeug==3.1.3
pyparsing==3.2.3
ipython==8.37.0
Pygments==2.19.1
zipp==3.23.0
egl_probe==1.0.2
PyYAML==6.0.2
pexpect==4.9.0
gitdb==4.0.12
dm-env==1.6
asttokens==3.0.0
nvidia-cusparse-cu12==12.5.4.2
packaging==25.0
tqdm==4.67.1
distro==1.9.0
tensorboardX==2.6.4
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cusparselt-cu12==0.6.3
annotated-types==0.7.0
nvidia-cudnn-cu12==9.5.1.17
util==0.0.1
imageio==2.37.0
requests==2.32.4
torch==2.7.1
nvidia-cusolver-cu12==11.7.1.2
mpmath==1.3.0
einops==0.8.1
hf-xet==1.1.4
tensorboard==2.19.0
pyrealsense2==2.55.1.6486
numpy==2.2.6
attrs==25.3.0
pydantic==2.11.7
wrapt==1.17.2
opencv-python==4.11.0.86
termcolor==3.1.0
pillow==11.2.1
PyOpenGL==3.1.9
imageio-ffmpeg==0.6.0
docutils==0.21.2
sympy==1.14.0
pytz==2025.2
nvidia-cufile-cu12==1.11.1.6
tzdata==2025.2
detr==0.0.0
robomimic==0.3.0
